.container {
  width: 96%;
  max-width: 960px;
  margin: 0 auto; 
}
 
.container img {
  width: 100%;
  height: auto;
}

.container img {
  max-width: 100%;
  display: inline-block;
}

.container p {
  display: inline-block;
  text-align: center;
}

/* For medium devices (e.g. tablets) */
@media (min-width: 420px) {
  .container img {
    max-width: 48%;
  }
}
/* For large devices (e.g. desktops) */
@media (min-width: 760px) {
  .container img {
    max-width: 24%;
  }
}